a {
  color: #9bca41 !important;
}

h6 {
  font-size: 0.8rem !important;
}

.bank-bg {
  background-image: url("../background.png");
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.shape-1 {
  width: 137px;
  height: 20px;
  border-radius: 999px;
  background-color: #f0f0f0;
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.chart-percentage {
  position: absolute;
  top: 25px;
  left: 15px;
  font-size: 10px;
}

.container-top-space {
  margin-top: 100px;
}
.box-title {
  margin-bottom: 20px;
}

.font-s-11 {
  font-size: 11px !important;
}
.font-s-14 {
  font-size: 14px !important;
}
.font-s-18 {
  font-size: 18px !important;
}
.font-s-22 {
  font-size: 22px !important;
}

.title-text {
  font-size: 1rem;
  text-align: center;
  width: fit-content;
  margin-right: 10px;
  position: relative;
  padding: 0 20px;
}

.title-text::before {
  position: absolute;
  bottom: -5px;
  right: 0;
  content: "";
  width: 100%;
  height: 18px;
  background-color: #f0f0f0;
  border-radius: 20px;
  z-index: -1;
}

.title-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-home {
  height: 300px;
  margin: 20px;
  border: #9bca41 dashed 2px;
}
.box-home-bg {
  background-image: url(/assets/Rectangle2.png);
  background-size: cover;
  height: 300px;
  margin: 20px;
}

.card-text {
  font-size: 32px;
}

.card-box {
  background-color: #fff;
}

.card-sub {
  font-size: 8px;
}

.card-sub-value {
  font-size: 15px;
}

.don-type {
  box-shadow: 0px 0px 15px #00000029;
  height: 82px;
  margin-top: 10px;
}

.don-type-active {
  border: solid 1px #9bca41 !important;
}

.green-check input[type="checkbox"]:checked {
  /* accent-color: #fff; */
  background-color: #9bca41;
  border-color: #9bca41;
}
.green-check input[type="radio"]:checked {
  /* accent-color: #fff; */
  background-color: #9bca41;
  border-color: #9bca41;
}

.green-check input[type="checkbox"] {
  box-shadow: none;
}
.green-check input[type="radio"] {
  box-shadow: none;
}

.head-over {
  margin-top: -40px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 10px 10px 20px 10px;
}

.text-size-13 {
  font-size: 13px;
}

.black {
  color: #111111;
}

.blue {
  color: #18193d;
}

.blueLight {
  color: #23283fb2;
}

.custom-control-input:checked ~ .textWhite {
  color: #f0f0f0;
}

.details-box {
  border: solid 1px #efefef;
}

.display-text {
  color: #bdbdbd;
  font-size: 12px;
}

.display-box-top {
  border-bottom: 1px solid #efefef;
}

.progress-bg {
  background-color: #9bca41 !important;
}

.share-btn {
  background-color: #18193d !important;
}

.share-box {
  border: solid 1px #9bca41;
  overflow-x: auto;
  background-color: #fff;
}

.thank-btn {
  background-color: #9bca41;
}

.textWhite strong {
  margin-left: 5px;
  font-size: 14px;
}

/* fix styles */
.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .box-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-text {
    margin-right: 0;
  }

  .box-home-bg,
  .box-home {
    /* margin: 20px 0; */
    width: 90% !important;
  }
}

/* rating */
.star-rating .star {
  filter: brightness(0.9);
}

/* days */
.weekly-new .custom-control label {
  border-radius: 100px;
  min-width: 100px;
  border: 1px solid #9bca41;
  font-size: 14px;
  height: 42px;
  display: flex;
  align-items: center;
  color: #303030;
}
.weekly-new .custom-control-input:checked ~ .custom-control-label {
  color: #fff;
}
.monthly-new .custom-control label {
  background-color: transparent;
  box-shadow: none;
  width: 50px;
  height: 30px;
  margin-left: 20px;
  background-color: transparent;
  box-shadow: none;
  width: 50px;
  display: flex;
  align-items: center;
}
.monthly-new .custom-control-input:checked ~ .custom-control-label {
  border-radius: 50%;
  color: #fff;
}

/* discription */
.description-container {
  display: flex;
}
.description-border {
  background-image: linear-gradient(#9bca41, #9bca41),
    linear-gradient(#9bca41, #9bca41), linear-gradient(#9bca41, #9bca41),
    linear-gradient(#9bca41, #9bca41), linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-size: 1px 50%, 50% 1px, 1px 50%, 50% 1px,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 1px 1px;
  border-radius: 18px;
  padding: 5px;
}

.description-body {
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 18px;
}

/* table */
.table-container {
  border: solid 1px #e8e8e8;
  border-radius: 12px;
  overflow: hidden;
}
.bg-blue {
  background-color: #23283f !important;
}

.border-container {
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 18px 18px 0 0;
  width: 95% !important;
}
.blueLight {
  color: #23283fb2;
}
.drop-shape {
  background-color: #9bca41;
  width: max-content;
  border-radius: 12px 12px 12px 0;
}

/* accordion */
.faq .card-header {
  border-radius: 11px !important;
  width: 100%;
  margin-top: -7px;
}

.faq {
  border-radius: 11px !important;
  background-color: #e4e4e4 !important;
  width: 100%;
}

/* investmet page css */
.inv-bg {
  background-image: url("../investment_images/inv_bg.png");
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.inv-card-container {
  margin-top: -120px;
  display: flex;
  /* justify-content: center; */
  padding-block: 20px;
  gap: 20px;
  overflow-x: auto;
  padding-inline: 20px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.inv-card {
  height: 480px;
  min-width: 270px;
  box-shadow: 0px 12px 24px 0px #2d2d2d14;
  scroll-snap-align: center;
  transform: scale(0.95);
  transition: transform 0.8s;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.inv-upper-card {
  background-image: url("../investment_images/card-bg.png");
  background-size: cover;
  background-position: center;
  height: 50%;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inv-lower-card {
  position: relative;
}

.inv-coming {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  z-index: 99;
  border-radius: 16px;
}

.inv-date {
  background-color: #163e6e;
  border-radius: 16px;
  border: 1px solid #3b3e96;
  width: max-content;
}

.circle {
  width: 10px;
  height: 9.5px;
  background-color: #9bca41;
  border-radius: 50%;
}

.bg-lightGreen {
  background-color: #9bca41;
}

.w-max {
  width: max-content;
}

.inv-card-text {
  color: #ffffff;
  opacity: 60%;
}

.inv-border {
  border-left: 1px solid #ffffff91;
}

.font-s-9 {
  font-size: 9px !important;
}

.bg-lightBlue {
  background-color: #163e6e !important;
}

.inv-control-input:checked ~ .textGreen {
  color: #9bca41;
}

.inv-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.inv-control-input:checked ~ .inv-control-label {
  background-color: #184276;
}

.inv-control label {
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 0px 0px 15px #00000029;
  overflow: hidden;
  margin-top: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 50px;
  border: 1px solid #184276;
  color: #184276;
}

.inv-details {
  margin-top: 60px;
  height: 250px;
  background-image: url("../investment_images/card-bg.png");
  background-size: cover;
  background-position: center;
}

.mvisible {
  transform: scale(1);
  transition: transform 0.8s;
}

.border-green {
  border: 1px solid #9bca41 !important;
}

.w-254 {
  width: 254px;
}

.inv-coming-image {
  position: absolute;
  z-index: 99;
  translate: -50%;
  top: 22%;
  right: 6%;
}

.inv-outline-btn {
  color: #184276 !important;
  border: 1px solid #18427666 !important;
  font-size: 14px !important;
}

/* .inv-card {
  animation: scale-a-lil linear both;
  animation-timeline: scroll(x);
  animation-range: 40vw 60vw;
}
@keyframes scale-a-lil {
  from {
    scale: 0.5;
  }
} */
