.text-light-blue {
  color: #4143a4;
}
.bg-light-green {
  background: #edf8ec;
}
.number-circle-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
  width: fit-content;
  height: fit-content;
}
.number-circle-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  background-color: #9bca41;
  width: 30px;
  height: 30px;
  font-size: 18px;
  color: #fff;
}

.gray-border {
  border: 1px solid #dedde4;
}

.thank-btn {
  background-color: #9bca41 !important;
}

.gray-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.star-image {
  max-width: 100%;
}

.c-centered {
  display: flex;
  align-items: center;
}

.greenBorder {
  border: 1px solid #9bca41 !important;
}
